.search-box{
    width:300px;
}

.search-box input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    outline:none;
}

.search-box input:focus{
    border-color:#2563eb;
}